<div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 scroll">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
                <h4>Dates</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="input-group">
                    <input class="form-control" close-text="Close" date-disabled="disabled(date, mode)" datepicker-options="dateOptions" datepicker-popup="{{format}}" is-open="status.opened" max-date="maxDate" min-date="minDate" ng-model="from" ng-required="true" ng-click="open($event)" placeholder="From" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="input-group">
                    <input class="form-control" close-text="Close" date-disabled="disabled(date, mode)" datepicker-options="dateOptions1" datepicker-popup="{{format}}" is-open="status1.opened" max-date="maxDate" min-date="minDate" ng-model="to" ng-required="true" ng-click="open1($event1)" placeholder="To" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open1($event1)" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div checkboxes="true" extra-settings="examplesettings1" ng-dropdown-multiselect="" options="adultsdata" selected-model="adults" style="display:inline-block;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                <h4 style="display:inline-block;">Type: </h4>
                <div checkboxes="true" extra-settings="examplesettings1" ng-dropdown-multiselect="" options="adultsdata" selected-model="adults" style="display:inline-block;"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h4 style="display:inline-block;">Places: </h4>
                <div checkboxes="true" extra-settings="examplesettings2" ng-dropdown-multiselect="" options="placesdata" selected-model="places" style="display:inline-block;"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h4 style="display:inline-block;">Companion: </h4>
                <div checkboxes="true" extra-settings="examplesettings4" ng-dropdown-multiselect="" options="companiondata" selected-model="companion" style="display:inline-block;"></div>
            </div>
        </div>
        <div class="row">
            <h4>Price Range</h4>

            <div class="col-md-4 col-lg-4 col-sm-3 col-xs-4 ">
                <button type="button" class="btn btn-default">₹5000/- - ₹10000/-</button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <button type="button" class="btn btn-default">₹10000/- - ₹15000/-</button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <button type="button" class="btn btn-default">₹15000/- - ₹25000/-</button>
            </div>
        </div>
        <aside class="row sorts well" style="width:95%;">
            <h4 class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">Sort :</h4>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding" href="" ng-click="reverse=!reverse;order('id', reverse)">Id</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding" href="" ng-click="reverse=!reverse;order('name', reverse)">Name</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding" href="" ng-click="reverse=!reverse;order('location', reverse)">Location</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding" href="" ng-click="reverse=!reverse;order('stars', reverse)">Stars</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding" href="" ng-click="reverse=!reverse;order('price', reverse)">Price</a>
        </aside>
        <div ng-repeat="travel in travels">
            <div travelcard data="travel" ng-mouseenter="cardMouseEnter(i)"></div>
        </div>

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <leaflet class="map" center="goa" defaults="defaults" markers="markers" />
    </div>

</div>
