<div class="container" style="width:95%;">
    <ul class="hotel-details">
        <li>
            <h1 class="no-margin">{{store.name}}</h1>
            <a href="#room" data-toggle="tab" class="btn btn-info" role="button" style="float:right; background-color:#FA8C00;border-color:#FA8C00;margin-top:-40px;margin-right:100px;">Book now</a>
        </li>
        <div class="tabbable responsive">
            <ul class="nav nav-tabs navbar no-margin">
                <li class="active"><a href="#home" data-toggle="tab">Highlights</a></li>
                <li><a href="#ame" data-toggle="tab">Amenities &amp; info</a></li>
                <li><a href="#media" data-toggle="tab">Media</a></li>
                <li><a href="#map" data-toggle="tab">Map</a></li>
                <li><a href="#rev" data-toggle="tab">Reviews</a></li>
                <li><a href="#room" data-toggle="tab">Rooms &amp; Rates</a></li>

            </ul>

            <!-- /tab-content -->

        </div>

        <div class="tab-content" style="margin-left:35px;">
            <div class="tab-pane active" id="home">

                <section class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <p style="text-align:justify;padding-bottom:10px;">Lorem ipsum dolor sit amet, id timeam partiendo argumentum duo. Placerat sapientem interpretaris no eum, veritus suscipiantur ne eos</p>
                        <hr>
                        <div class="row">
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-wifi fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-glass fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-cutlery fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-coffee fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-hospital-o fa-lg"></i>

                            <a href="#ame" data-toggle="tab" style="margin-left:30px;margin-top:15px;">View all the amenities</a>
                        </div>
                        <hr>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="#" style="outline:none;"><img id="p" src="../../../images/hotel1.jpg" /></a>
                        <div id="caption">
                            <a href="#media" data-toggle="tab">View more Photos</a>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">hi</div>

                </section>

            </div>
            <div class="tab-pane" id="ame">
                <h3>Basic Amenities</h3>
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="row" style="padding:10px;">
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-wifi fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-glass fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-cutlery fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-coffee fa-lg"></i>
                            <i class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fa fa-hospital-o fa-lg"></i>
                        </div>
                        <div class="row no-margin">
                            <h3>Other Amenities</h3>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-check symbol">Air Conditioning</i>
                                    <i class="fa fa-check symbol">Express Check-In </i>
                                    <i class="fa fa-check symbol">Banquet Facility</i>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-check symbol">Lift</i>
                                    <i class="fa fa-check symbol">Express Check-Out</i>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <h3>Hotel amenities</h3>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-check symbol">Catering Service</i>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-check symbol">Concierge </i>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <h3>Business services</h3>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-check symbol">Business Center</i>
                                    <i class="fa fa-check symbol">Meeting Room</i>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-check symbol">Audio Visual Equipment</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 para">
                        <p><strong>Para 1:</strong>Est ut labore omnesque. Ludus dissentias accommodare no duo, quo numquam placerat percipit in. Vis phaedrum sapientem reprimique cu, pro graecis feugait officiis no, ne erant intellegam dissentiet vix.</p>
                        <p><strong>Para 2:</strong>Est ut labore omnesque. Ludus dissentias accommodare no duo, quo numquam placerat percipit in. Vis phaedrum sapientem reprimique cu, pro graecis feugait officiis no, ne erant intellegam dissentiet vix.Ut vim errem urbanitas ullamcorper, no has dicat invenire, ea purto dolores vituperata qui. Paulo tantas mentitum eam ad. Eu his mollis apeirian theophrastus, impetus gubergren usu an.</p>
                        <p><strong>Para 3:</strong>Est ut labore omnesque. Ludus dissentias accommodare no duo, quo numquam placerat percipit in. Vis phaedrum sapientem reprimique cu, pro graecis feugait officiis no, ne erant intellegam dissentiet vix.Ut vim errem urbanitas ullamcorper, no has dicat invenire, ea purto dolores vituperata qui. Paulo tantas mentitum eam ad. Eu his mollis apeirian theophrastus, impetus gubergren usu an.Est ut labore omnesque. Ludus dissentias accommodare no duo, quo numquam placerat percipit in. Vis phaedrum sapientem reprimique cu, pro graecis feugait officiis no, ne erant intellegam dissentiet vix.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="media">media...</div>
            <div class="tab-pane" id="map">map...</div>
            <div class="tab-pane" id="rev">reviews...</div>
            <div class="tab-pane" id="room">room...</div>
        </div>
    </ul>
</div>