<!--  <li ng-repeat="item in hotels">{{ item.name }}</li>-->
<!--<div>{{ items }}</div>-->
<div class="row">
    <aside class="filters col-sm-2 col-md-2 col-lg-2">
        Filter : </br>
        <input type="checkbox" ng-click="includeLocation('A')" /> A</br>
        <input type="checkbox" ng-click="includeLocation('B')" /> B </br>
    </aside>
    
    <div class="col-sm-9 col-md-9 col-lg-9">
        <aside class="sorts">
            Sort :
            <a href="" ng-click="reverse=!reverse;order('id', reverse)">Id</a>
            <a href="" ng-click="reverse=!reverse;order('name', reverse)">Name</a>
            <a href="" ng-click="reverse=!reverse;order('location', reverse)">Location</a>
            <a href="" ng-click="reverse=!reverse;order('stars', reverse)">Stars</a> </br>
            </br>
        </aside>
        <section class="items">
            <div ng-repeat="hotel in hotels | filter: items.keyword | filter: locationFilter">
                <ul>
                    <li><a ui-sref="hotel.detail">{{hotel.name}}</a></li>
                    <li>{{hotel.location}}</li>
                    <li>{{hotel.stars}}</li>
                </ul>
            </div>
        </section>
    </div>
</div>
