<div class="container">
    <form>
        <fieldset>
            <input type="text" style="display:block" ng-model="searchParam.keyword" placeholder="Enter area or hotel name">
            <div>
                <input type="text" ng-model="searchParam.fromDate" placeholder="From date">
                <input type="text" ng-model="searchParam.toDate" placeholder="To date">
            </div>
            <input type="text" style="display:block" ng-model="searchParam.roomCount" placeholder="Number of rooms">
            
            <input type="submit" style="display:block" value="Search" ui-sref="hotel.list({data: searchParam})">
        </fieldset>
    </form>
</div>