<div class="container">


    
    <div class="row no-margin">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding">
            <div class="row try grey no-margin">
                <h5>Time</h5></div>
            <ul class="grey try" style="text-align:center;">
                <li>12 am</li>
                <li>1 am</li>
                <li>2 am</li>
                <li>3 am</li>
                <li>4 am</li>
                <li>5 am</li>
                <li>6 am</li>
                <li>7 am</li>
                <li>8am</li>
                <li>9 am</li>
                <li>10 am</li>
                <li>11 am</li>
                <li>12 pm</li>
                <li>1 pm</li>
                <li>2 pm</li>
                <li>3 pm</li>
                <li>4 pm</li>
                <li>5 pm</li>
                <li>6 pm</li>
                <li>7 pm</li>
                <li>8 pm</li>
                <li>9 pm</li>
                <li>10 pm</li>
                <li>11 pm</li>
                
                
            </ul>
            
<!--
                <div class="row no-margin">1</div>
                <div class="row no-margin">2</div>
                <div class="row no-margin">3</div>
                <div class="row no-margin">4</div>
                <div class="row no-margin">5</div>
                <div class="row no-margin">6</div>
                <div class="row no-margin">7</div>
                <div class="row no-margin">8</div>
                <div class="row no-margin">9</div>
                <div class="row no-margin">10</div>
                <div class="row no-margin">11</div>
                <div class="row no-margin">12</div>
-->



           
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 day1 no-padding">
            <div class="row try grey no-margin">
                <h5>Day 1</h5>
            </div>
            <div class="row no-margin light" style="margin-top:330px;">
                <h5 class="h5-used">Arrival at the airport</h5>
            </div>
            
            <div class="row no-margin dark" style="margin-top:38px;">
                <h5 class="h5-used">Check-in</h5>
            </div>
            <div class="row no-margin light" style="">
                <h5 class="h5-used">Breakfast</h5>
            </div>
            <div class="row no-margin dark" style="height:90px;">
                <h5 class="h5-used">Activity at Candolim</h5>
            </div>
            <div class="row no-margin light" style="height:80px;">
                <h5 class="h5-used">Lunch</h5>
            </div>
            <div class="row no-margin dark" style="margin-top:45px;height:70px;">
                <h5 class="h5-used">Paragliding</h5>
            </div>
            <div class="row no-margin light" style="margin-top:36px;height:105px;">
                <h5 class="h5-used">Supper &amp; Drink</h5>
            </div>
            <div class="row no-margin dark" style="height:85px;">
                <h5 class="h5-used">clubbing</h5>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 day2 no-padding">
            <div class="row try grey no-margin">
                <h5>Day 2</h5>
            </div>
            <div class="row no-margin light" style="height:80px;">
                <h5 class="h5-used">clubbing</h5>
            </div>
            <div class="row no-margin dark" style="height:50px;">
                <h5 class="h5-used">Return to hotel</h5>
            </div>
            <div class="row no-margin light" style="margin-top:200px;height:95px;">
                <h5 class="h5-used">Breakfast</h5>
            </div>
            <div class="row no-margin dark" style="height:210px;">
                <h5 class="h5-used">White Water Rafting</h5>
            </div>
            <div class="row no-margin light" style="height:100px;">
                <h5 class="h5-used">Spice farm</h5>
            </div>
            <div class="row no-margin dark" style="margin-top:65px;height:80px;">
                <h5 class="h5-used">Dinner</h5>
            </div>
            <div class="row no-margin light" style="height:130px;">
                <h5 class="h5-used">Casino</h5>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 day3 no-padding">
            <div class="row try grey no-margin">
                <h5>Day 3</h5>
            </div>
            <div class="row no-margin dark" style="margin-top:35px;">
                <h5 class="h5-used">Return to Hotel</h5>
            </div>
            <div class="row no-margin light" style="margin-top:200px;height:135px;">
                <h5 class="h5-used">Breakfast</h5>
            </div>
            <div class="row no-margin dark" style="height:150px;">
                <h5 class="h5-used">Splashdown</h5>
            </div>
            <div class="row no-margin light" style="height:80px;">
                <h5 class="h5-used">Lunch</h5>
            </div>
            <div class="row no-margin dark" style="height:130px;margin-top:20px;">
                <h5 class="h5-used">Paintball</h5>
            </div>
            <div class="row no-margin light" style="margin-top:60px;height:145px;">
                <h5 class="h5-used">Dinner at shack</h5>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 day4 no-padding">
            <div class="row try grey no-margin">
                <h5>Day 4</h5>
            </div>
            <div class="row no-margin light" style="margin-top:60px;">
                <h5 class="h5-used">Return to Hotel</h5>
            </div>
            <div class="row no-margin dark" style="margin-top:180px;height:75px;">
                <h5 class="h5-used">breakfast</h5>
            </div>
            <div class="row no-margin light" style="margin-top:140px;">
                <h5 class="h5-used">Checkout</h5>
            </div>
            <div class="row no-margin dark" style="margin-top:20px;">
                <h5 class="h5-used">Leave for Airport</h5>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
            <div class="row try grey no-margin">
                <h5>Day 5</h5></div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
            <div class="row try grey no-margin">
                <h5>Day 6</h5></div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
            <div class="row try grey no-margin">
                <h5>Day 7</h5></div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding"></div>
    </div>


    <!--
    <table style="width:100%">
        <tr>
            <th class="time">time</th>
            <th>day1</th>
            <th>day2</th>
            <th>day3</th>
            <th>day4</th>
            <th>day5</th>
            <th>day6</th>
            <th>day7</th>
        </tr>
        <tr>
            <th rowspan="2" class="time">8a</th>
            <td>Check-in</td>
            <td>50</td>
        </tr>
        <tr>
            <td class="time">9a</td>
            <td>94</td>
        </tr>
        <tr>
            <td class="time">10a</td>
            <td>Breakfast</td>
            <td>80</td>
        </tr>
        <tr>
            <td class="time">11a</td>
            <td rowspan="2">Beach</td>
        </tr>
        <tr>
            <td class="time">12p</td>
        </tr>
        <tr>
            <td class="time">1p</td>
            <td rowspan="3">Lunch</td>
        </tr>
        <tr>
            <td class="time">2p</td>
        </tr>
        <tr>
            <td class="time">3p</td>
        </tr>
        <tr>
            <td class="time">4p</td>
        </tr>
        <tr>
            <td class="time">5p</td>
            <td rowspan="3">Park</td>
        </tr>
        <tr>
            <td class="time">6p</td>
        </tr>
        <tr>
            <td class="time">7p</td>
        </tr>
        <tr>
            <td class="time">8p</td>
            <td rowspan="2">dinner</td>
        </tr>
        <tr>
            <td class="time">9p</td>
        </tr>
        <tr>
            <td class="time">10p</td>
        </tr>
        <tr>
            <td class="time">11p</td>
            <td rowspan="4">Party</td>
        </tr>
        <tr>
            <td class="time">12a</td>
        </tr>
        <tr>
            <td class="time">1a</td>
        </tr>
        <tr>
            <td class="time">2a</td>
        </tr>
        <tr>
            <td class="time">3a</td>
        </tr>
        <tr>
            <td class="time">4a</td>
        </tr>
        <tr>
            <td class="time">5a</td>
        </tr>
        <tr>
            <td class="time">6a</td>
        </tr>
        <tr>
            <td class="time">7a</td>
            <td>Panjim Market</td>
        </tr>
    </table>
-->
<!--
    <TABLE BORDER=2 CELLPADDING=4>
        <tr>
            <th>Time</th>
            <th>day 1</th>
            <th>day 2</th>
        </tr>
        <TR>
            <TH ROWSPAN=2 BGCOLOR="#99CCFF">8am</TH>
            <TD>Check-in</TD>
            <TD>1493</TD>
        </TR>
        <TR>
            <TD rowspan=3>Breakfast</TD>
            <TD>3829</TD>
        </TR>

        <TR>
            <TH ROWSPAN=2 BGCOLOR="#99CCFF">9am</TH>
            <TD>4827</TD>
        </TR>
        <TR>
            <TD>7246</TD>
        </TR>

        <tr>
            <th rowspan="2">10am</th>
            <td rowspan="3">Beach</td>
        </tr>
        <tr>
            <th rowspan="2">11am</th>
             <TD>4827</TD>
        </tr>
        <tr>
            <th rowspan="2">12pm</th>
            
        </tr>
        <tr>
            
        </tr>
        
    </TABLE>
-->
</div>