<section class="ite">
    <div class="container1">
        <div class="row stripes">
            <a href="#"><h5><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add item</h5></a>
        </div>
        <div ng-repeat="event in events">
            <ul class="row e1">

                <li class="col-xs-1 col-sm-1 col-md-1 col-lg-1 time no-padding"><h4>{{event.time}}</h4></li>
                <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5 info" style=" border-left: 1px solid grey;">
                    <div class="row">
                        <img src="{{event.url}}">
                    </div>
                    <ul class="row no-padding">
                        <li><a href="#"><h3>{{event.title}}</h3></a></li>
                        <li><p style="text-align:justify;">{{event.desr}}
                            <a style="color: #FA8C00;" href="#">Read more..</a></p></li>
                    </ul>
                </li>
<!--                <li class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding"></li>-->
                <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding info vertical-left">
                    <ul ng-repeat="childEvent in event.events">
                        <li><a href="#"><h3>{{childEvent.title}}</h3></a></li>
                        <li><p style="text-align:justify;padding-right:10px;">{{childEvent.desr}}
                                    <a style="color: #FA8C00;" href="#">Read more..</a></p></li>
                        <hr>
                    </ul>

                </li>
            </ul>
           
        </div>

    </div>
</section>