$icon-font-path: "fonts/bootstrap/";
@import "stylesheets/_bootstrap.scss";
@import "stylesheets/_animate.scss";

/************************ Colour *************************************/

$primary-color: #2196f3;
$primary-color-dark: #1976d2;
$secondary-color: #0fb0cf;
$shadow-color: #000000;

/************************ Fonts *************************************/

@font-face {
    font-family: 'Primary-Reg';
    src: url("fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: 'Primary-Bold';
    src: url("fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: 'Primary-Light';
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

/************************* Styles **************************************/

body {
    font-family: 'Primary-Light';
    margin: 0 auto;
    padding-top: 55px;
    //background-color: $primary-color;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.btn-custom {
    font-family: 'Primary-Reg';
    background-color: $primary-color;
    color: white;
}
header {
    .navbar-custom {
        background-color: $primary-color;
        .navbar-brand {
            font-family: 'Primary-Bold';
            color: white;
        }
        .navbar-nav {
            margin: 7.5px -15px;
        }
        .btn-custom {
            font-family: 'Primary-Reg';
            background-color: $primary-color;
            color: white;
        }
        .btn-custom:hover {
            background-color: $primary-color-dark;
        }
    }
}

/* ****************************************  */

.module {
//    @include make-row();
    .list {
        @include make-lg-column(7);
        padding: 0;
        .filters {
            @include make-row();
            .filter-wrapper {
                @extend .no-padding;
                @include make-lg-column(4);
                .filter {
                    display: inline-block;
                }
            }
        }
    }
    .map-wrapper {
        @extend .no-padding;
        @include make-lg-column(5);
    }
}
//.module {
//    @include make-row();
//    .list {
//        @include make-lg-column(6);
//        .filters {
//            @include make-row();
//            .filter-wrapper-acti {
//                @extend .no-padding;
//                @include make-lg-column(3);
//                .filter {
//                    display: inline-block;
//                }
//            }
//        }
//    }
//    .map-wrapper {
//        @include make-lg-column(6);
//    }
//}
.detail {
    @include make-row();
    .detailscol {
        @include make-lg-column(7);
    }
}

/* ****************************************  */


/********************ACTIVITY CARD**************************/

.acti-card {
    @include make-row();
}

/***********************************************************/

.group:after {
    content: "";
    display: table;
    clear: both;
}
.tripSummary {
    position: fixed;
    top: 72px;
    right: 0;
}
.tripItem {}
.row {
    margin: 0;
}
.event {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
.event::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
.start-time {
    position: absolute;
    top: 0;
    left: 0;
}
.end-time {
    position: absolute;
    bottom: 0;
    left: 0;
}
.event-card {
    margin-left: 60px;
    color: white;
    background-color: #84D6D6;
}
.black-col {
    color: white;
    background-color: $primary-color;
}
.btn-refine-search {
    background-color: #fc573b;
    border-color: #fc573b;
    border-radius: 0;
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.edit {
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.rect {
    height: 150px;
    border: 2px solid white;
    padding-top: 0;
    margin: 10px 0;
    h4 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
    }
}
.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    color: black;
    font-size: 40px;
    width: 200px;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.custom {
    background-color: white;
    border-color: #ccc;
    color: #333;
}
.custom:hover {
    background-color: #e6e6e6;
    border-color: #ccc;
    color: #333;
}
#panel {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#map {
    bottom: 0;
    left: 670px;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1;
}
.ui-control {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.material-icons.md-18 {
    font-size: 18px;
}
.angular-leaflet-map {
    width: 100%;
    height: 600px;
}
.left {
    float: left;
    width: 58%;
    padding-right: 1em;
}
.right {
    float: right;
    width: 40%;
}
.carousel-inner .active.left {
    left: -33%;
}
.carousel-inner .next {
    left: 33%;
}
.carousel-inner .prev {
    left: -33%;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.hotel-details {
    h1 {
        font-weight: bolder;
        //        /text-transform: uppercase;
    }
}
ul[datepicker-popup-wrap] > li > .btn-group > button.btn-info {
    display: none;
}
.my-col-50 {
    float: left;
    width: 50%;
    padding: 10px;
}
.form-horizontal {
    width: 500px;
}
.datetime-picker-dropdown {}
.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
    border: 0;
}
.datetime-picker-dropdown > li.time-picker-menu div > table {}
.navbar {
    margin-bottom: 0px;
}
.map {
    position: fixed;
    width: 42%;
    height: 600px;
}
.box {
    border: 2px solid rgb(235, 235, 235);
    .my-or {
        position: relative;
        text-align: center;
    }
    .my-or > span {
        background-color: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 18px;
        color: #c0c0c0;
        display: inline-block;
        font-size: 1.286em;
        padding: 4px 15px 6px;
        position: relative;
        z-index: 1;
    }
    .my-or::before {
        background-color: #e2e2e2;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 49%;
    }
    a {
        text-decoration: none;
        outline: none;
    }
    a:hover {
        color: rgb(234, 100, 9);
    }
    ul {
        color: #666666;
        list-style-type: none;
        padding: 0px;
        .lists {
            border-bottom: 2px solid rgb(235, 235, 235);
            padding: 10px;
        }
    }
    .col5 {
        border-right: 2px solid rgb(235, 235, 235);
    }
    .btn-block {
        margin-top: 10px;
        span {
            color: white;
            font-weight: 300;
        }
    }
}