<section>
    <div class="row">
                <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
                    <h4><span class="glyphicon glyphicon-user" aria-hidden="true" ></span></h4>
                </div>
                <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10">
                    <h4>Budget?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <rzslider rz-slider-model="slider.min" 
                                  rz-slider-high="slider.max" 
                                  rz-slider-options="slider.options" 
                                  rz-slider-translate="translate" 
                                  style="display: inline-block; ">
                        </rzslider>
                    </div>
            </div>
</section>