<section>
    <div class="row">
                <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
                    <h4><span class="glyphicon glyphicon-user" aria-hidden="true" ></span></h4>
                </div>
                <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10">
                    <h4>Absolutely must?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                    <div checkboxes="true" 
                         extra-settings="examplesettings7" 
                         translation-texts="placescustomTexts" 
                         ng-dropdown-multiselect="" 
                         options="placesdata" 
                         selected-model="places" 
                         style="display:inline-block;">
                </div>
                </div>
                <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                    <div checkboxes="true" 
                         extra-settings="examplesettings4" 
                         translation-texts="visitcustomTexts" 
                         ng-dropdown-multiselect="" 
                         options="interestdata" 
                         selected-model="interests" 
                         style="display:inline-block;">
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                    <div checkboxes="true" 
                         extra-settings="examplesettings9" 
                         translation-texts="customTexts"
                         ng-dropdown-multiselect="" 
                         options="visitsdata" 
                         selected-model="visits" 
                         style="display:inline-block;">
                    </div>
                </div>
                
            </div>
</section>