<header class="header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Goa Amigo</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 20px;">
                        <button class="btn btn-primary" ui-sref="app.trip.list">Trip</button>
                    </li>
                    <li style="margin-left: 20px;">
                        <button class="btn btn-primary" ui-sref="app.activity.list">
                            <i class="material-icons md-18">local_activity</i> Activity
                        </button>
                    </li>
                    <li style="margin-left: 20px;">
                        <button class="btn btn-primary" ui-sref="app.stay.list">
                            <i class="material-icons md-18">hotel</i>Stay
                        </button>
                    </li>
                    <li style="margin-left: 20px;">
                        <button class="btn btn-primary" ui-sref="app.travel.list">
                            <i class="material-icons md-18">card_travel</i> Travel
                        </button>
                    </li>
                    <li style="margin-left: 20px;">
                        <button class="btn btn-primary" ui-sref="app.restaurant.list">
                            <i class="material-icons md-18">restaurant_menu</i>Restaurants
                        </button>
                    </li>
                    <li style="margin-left: 20px;">
                        <button class="btn btn-primary" ui-sref="app.abtgoa.list">About Goa</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div ui-view></div>
</div>
