<div class="row" style="margin-top:40px;">
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2"></div>
    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
        <div class="box">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1"></div>
                <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5 col5" style="">
                    <form role="form">
                        <div class="row">
                            <h3><strong>Log-in </strong></h3>
                        </div>
                        <div class="form-group">
                            <input placeholder="Email Address" type="email" class="form-control " id="email">
                        </div>
                        <div class="form-group">
                            <input placeholder="Password" type="password" class="form-control" id="pwd">
                        </div>
                        <a href="#">Forgot Password?</a>
                        <div class="form-group">
                            <button style="background-color:#2196f3;" type="submit" class="btn btn-default btn-block">
                                <span style="">Sign In</span>
                            </button>
                        </div>
                        <div class="form-group my-or">
                            <span>or</span>
                        </div>
                        <div class="form-group">
                            <button style="background-color:rgb(93,119,181);" type="submit" class="btn btn-default btn-block">
                                <span style="">Login with Facebook</span>
                            </button>
                        </div>
                        <div class="form-group" style="margin-top:40px;">
                            <p style="color: #666666;"><i>Don't have  Goa Amigo account? Create it now!</i></p>
                            <button style="background-color:#0d47a1;" type="submit" class="btn btn-default btn-block" ui-sref="app.signup">
                                <span style="">Sign Up</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5">
                    <div class="row">
                        <h3><strong>Why Sign-in ?</strong></h3>
                    </div>
                    <ul style="">
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                  Book faster with prefilled forms
                            </h4>
                        </li>
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                  Check booking history
                            </h4>
                        </li>
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                  Manage cancellations and refund 
                            </h4>
                        </li>
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                  Print tickets
                            </h4>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1"></div>
            </div>
            <div class="row">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2"></div>
</div>