<div class="row" style="margin-top:40px;">
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2"></div>
    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
        <div class="box">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1"></div>
                <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5 col5" style="">
                    <form role="form">
                        <div class="row">
                            <h4><strong>Create Your Goa Amigo Account </strong></h4>
                        </div>
                        <div class="row" style="margin-top:15px;">
                            <div class="col-md-6" style="padding-left:0px;">
                                <div class="form-group">
                                    <input placeholder="First Name" type="text" class="form-control" name="fname">
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right:0px;">
                                <div class="form-group ">
                                    <input placeholder="Last Name" type="text" class="form-control" name="lname">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Mobile Number" type="text" class="form-control" name="mobile">
                        </div>
                        <div class="form-group">
                            <input placeholder="Email Address" type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <input placeholder="Password" type="password" class="form-control" name="pwd">
                        </div>
                        <div class="form-group">
                            <input placeholder="Confirm Password" type="password" class="form-control" name="pwd">
                        </div>

                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="preference[]" value="phone" checked><p style="color: #666666;"> I would like to be kept 
                                informed of special promotions and offers by Goa Amigo. </p>
                            </label>
                        </div>
                        <div class="form-group" style="">
                            <button style="background-color:#0d47a1;" type="submit" class="btn btn-default btn-block">
                                <span style="">Register</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5">
                    <div class="row">
                        <h4><strong>Do more with a Goa Amigo Account</strong></h4>
                    </div>
                    <ul style="">
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                  Access booking history with upcoming trips
                            </h4>
                        </li>
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                  Enter your contact details only once
                            </h4>
                        </li>
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                                 Get alerts for low fares
                            </h4>
                        </li>
                        <li class="lists">
                            <h4><span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                  Print tickets and invoices
                            </h4>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1"></div>
            </div>
            <div class="row">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2"></div>
</div>