<div class="module">
    <div class="list">
        <div class="well">
            <div class="filters">
                <div class="col-md-4" >
                    <label>Cuisines:</label>
                    <div checkboxes="true" 
                         extra-settings="cuisineSettings" 
                         ng-dropdown-multiselect="" 
                         options="cuisinesData" 
                         selected-model="cuisines" 
                         class="filter" style="display:inline-block;">
                    </div>
                </div>
                <div class="col-md-6">
                   <label>Establishment type:</label>
                    <div checkboxes="true" 
                         extra-settings="estSettings" 
                         ng-dropdown-multiselect="" 
                         options="estData" 
                         selected-model="est" 
                         class="filter" style="display:inline-block;">
                    </div>
                </div>
            </div>
            <div class="filters" style="padding-top:20px;">
                
            </div>
            <div class="filters">
                <div class="">
                    <label>MORE FILTERS</label>
                    <button type="button" 
                            class="btn btn-default" 
                            ng-click="isCollapsed = !isCollapsed">
                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="filters" uib-collapse="isCollapsed" style="padding-top:20px;">
                <div class="row">
                    <div class="col-md-6">
                        <label>Rating:</label>
                        <div checkboxes="true" 
                             extra-settings="ratingSettings" 
                             ng-dropdown-multiselect="" 
                             options="ratingData" 
                             selected-model="rating" 
                             class="filter" 
                             style="display:inline-block;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Other amenities:</label>
                        <div checkboxes="true" 
                             extra-settings="amenitiesSettings" 
                             ng-dropdown-multiselect="" 
                             options="amenitiesData" 
                             selected-model="amenities" 
                             class="filter" 
                             style="display:inline-block;">
                        </div>
                    </div>
                 </div>
                <div class="row">
                    <div class="col-md-12">
                        <label style="display:inline-block;">Cost for 2:</label>
                        <rzslider rz-slider-model="slider.min" 
                                  rz-slider-high="slider.max" 
                                  rz-slider-options="slider.options"
                                  rz-slider-translate="translate" 
                                   style="display: inline-block; 
                                          margin-bottom: 0px; 
                                          margin-left: 25px; 
                                          margin-top: 35px;">
                        </rzslider>
                    </div>
                </div>
        </div>
    </div>
        <div ng-repeat="rest in restaurant" class="animated fadeInUpBig cards">
            <div restcard data="rest" ng-mouseenter="cardMouseEnter(i)"></div>
        </div>
    </div>
</div>