<div class="row">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 scroll">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
                <h4>Dates</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="input-group">
                    <input class="form-control" close-text="Close" date-disabled="disabled(date, mode)" datepicker-options="dateOptions" datepicker-popup="{{format}}" is-open="status.opened" max-date="maxDate" min-date="minDate" ng-model="from" ng-required="true" ng-click="open($event)" placeholder="From" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="input-group">
                    <input class="form-control" close-text="Close" date-disabled="disabled(date, mode)" datepicker-options="dateOptions1" datepicker-popup="{{format}}" is-open="status1.opened" max-date="maxDate" min-date="minDate" ng-model="to" ng-required="true" ng-click="open1($event1)" placeholder="To" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open1($event1)" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div checkboxes="true" extra-settings="examplesettings1" ng-dropdown-multiselect="" options="adultsdata" selected-model="adults" style="display:inline-block;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                <h4 style="display:inline-block;">Type: </h4>
                <div checkboxes="true" extra-settings="examplesettings1" ng-dropdown-multiselect="" options="adultsdata" selected-model="adults" style="display:inline-block;"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h4 style="display:inline-block;">Places: </h4>
                <div checkboxes="true" extra-settings="examplesettings2" ng-dropdown-multiselect="" options="placesdata" selected-model="places" style="display:inline-block;"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h4 style="display:inline-block;">Companion: </h4>
                <div checkboxes="true" extra-settings="examplesettings4" ng-dropdown-multiselect="" options="companiondata" selected-model="companion" style="display:inline-block;"></div>
            </div>
        </div>
        <div class="row">
            <h4>Price Range</h4>
            <div>
                <rzslider rz-slider-model="slider.min" 
                          rz-slider-high="slider.max" 
                          rz-slider-options="slider.options">
                </rzslider>
            </div>
        </div>


        <div ng-repeat="rest in restaurant">
            <div class="my-col-50" restcard data="rest" ng-mouseenter="cardMouseEnter(i)"></div>
        </div>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>

</div>
