<div class="trip-params" style="padding:20px;">
    Trip params :
</div>
<aside class="module-nav">
    <nav class="nav navbar-nav">
        <div>
            <a ui-sref="planner.trip.list">Trips</a>
        </div>
        <div>
            <a ui-sref="planner.hotel.list">Hotels</a>
        </div>
        <div>
            <a ui-sref="planner.rental.list">Rentals</a>
        </div>
        <div>
            <a ui-sref="planner.restaurant">Restaurants</a>
        </div>
        <div>
            <a ui-sref="planner.cruise">Cruises</a>
        </div>
        <div>
            <a ui-sref="planner.destination">Destinations</a>
        </div>
        <div>
            <a ui-sref="planner.activity">Activities</a>
        </div>
    </nav>
</aside>
<section class="module-wrapper">
    <div ui-view></div>
</section>
