<section>
    <div class="row">
        <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
            <h4><span class="glyphicon glyphicon-user" aria-hidden="true" ></span></h4>
        </div>
        <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10">
            <h4>People?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <span>No.</span>
            <div checkboxes="true"
                 extra-settings="examplesettings1"
                 ng-dropdown-multiselect=""
                 options="adultsdata" 
                 selected-model="adults"
                 style="display:inline-block;">
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <span>Type</span>
            <div checkboxes="true" 
                 extra-settings="examplesettings6"
                 ng-dropdown-multiselect=""
                 options="companiondata" 
                 selected-model="companion" 
                 style="display:inline-block;">
            </div>
        </div>

    </div>
</section>