<div class="module">
    <div class="list">
        <div class="well">
            <div class="filters">
<!--                <div class="col-md-2"></div>-->
                <div class="col-md-1">
                    <label style="margin-top: 10px;">Date:</label>
                </div>
                <div class="col-md-3">
                    <p class="input-group">
                        <input  id="stayFromDate"
                                type="text" 
                                class="form-control" 
                                datetime-picker="dd MMM yyyy" 
                                ng-model="fromDate" 
                                is-open="calendarOpenFrom"
                                enable-time="false"
                                min-date="fromDateMin"/>
                                    <span class="input-group-btn">
                                            <button type="button" 
                                                    class="btn btn-default" 
                                                    ng-click="openCalendarFrom($event,'date1')">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                    </span>
                    </p>
                </div>
                
                <div class="col-md-1">
                    <label style="margin-top: 10px;">Time:</label>
                </div>
                <div class="col-md-3">
                    <p class="input-group">
                        <input  type="text" 
                                class="form-control" 
                                datetime-picker="HH:mm" 
                                ng-model="time" 
                                is-open="timeOpenFrom" 
                                enable-date="false" 
                                timepicker-options="timeOptions" 
                                close-on-selection="true"
                                defaultTime='00:00 PM'/>
                                    <span class="input-group-btn">
                                        <button type="button" 
                                                class="btn btn-default" 
                                                ng-click="openCalendar($event, 'date2')">
                                                    <i class="glyphicon glyphicon-time"></i>
                                        </button>
                                    </span>
                    </p>
                </div>
                <div class="col-md-4">
                    <div checkboxes="true" 
                         extra-settings="typeSettings" 
                         ng-dropdown-multiselect="" 
                         options="TypeData" 
                         selected-model="type" 
                         translation-texts="example5customTexts" 
                         class="filter" 
                         style="display:inline-block;">
                    </div>
                </div>
            </div>
            <div class="filters">
                <div class="col-md-4">
                    <input type="text" placeholder="Location" class="form-control" id="loc">
                </div>
                <div class="col-md-4">
                    <input type="number" min="1" max="10" placeholder="No. of days" class="form-control" id="days">
                </div>
                <div class="col-md-4">
                    <input type="number" min="1" max="10" placeholder="No. of people" class="form-control" id="ppl">
                </div>
            </div>
        </div>
        <div ng-repeat="taxi in taxi" class="animated fadeInUpBig cards">
            <div taxicard data="taxi" ng-mouseenter="cardMouseEnter(i)"></div>
        </div>
    </div>
</div>

