<div class="container1" style="width:350px;">
    <div class="row day no-margin">
        <h1 class="no-margin" style="padding:15px;">Day 1</h1>
    </div>
    <div class="row day no-margin" style="margin-top:20px;height:230px;width:auto;">
        <header>
            <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="margin:5px;color:#FA8C00;"></span></a>
<!--            <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 800px; color:#FA8C00;"></span></a>-->

        </header>
        <div class="row no-margin" style="height: 200px;width:auto;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="title">
<!--                    <img src="http://res.cloudinary.com/fomentotravel-com/image/upload/v1438754256/goaamigo/beach3.jpg" width="200" height="100">-->
                    <a href="#"><h3 class="no-margin" style="padding-top:5px;">Miramar</h3></a>
                    <p>miramar ipsum Lorem ipsum<a style="color: #FA8C00;" href="#"> Read more..</a></p>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                <div class="row no-margin acti">
                    <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="font-size:10px;color:#FA8C00;top: -3px;"></span></a>
<!--                    <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:10px; margin-left: 556px; top: -23px; color:#FA8C00;"></span></a>-->
                    <a href="#"><h6 >parasailing</h6></a>
                </div>


                <div class="row no-margin acti" style="margin-top:5px;">
                    <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="font-size:10px;color:#FA8C00;top: -3px;"></span></a>
<!--                    <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:10px; margin-left: 556px; top: -23px; color:#FA8C00;"></span></a>-->
                    <a href="#"><h6>jet skiing</h6></a>
                </div>
                <div class="row no-margin acti" style="margin-top:15px;height:75px;">
                    <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="font-size:10px;color:#FA8C00;top: -3px;"></span></a>
<!--                    <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:10px; margin-left: 556px; top: -23px; color:#FA8C00;"></span></a>-->
                    <a href="#"><h6>Lunch</h6></a>
                </div>
                <div class="row no-margin acti" style="margin-top:15px;">
                    <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="font-size:10px;color:#FA8C00;top: -3px;"></span></a>
<!--                    <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:10px; margin-left: 556px; top: -23px; color:#FA8C00;"></span></a>-->
                    <a href="#"><h6>sky lanterns</h6></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row no-margin travel">
        <h3 class="no-margin" style="text-align:center;font-weight:bold;">Travel</h3>
    </div>
    <div class="row day no-margin" style="height:200px;width:auto;">
        <header>
            <a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="margin:5px;color:#FA8C00;"></span></a>
<!--            <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 800px; color:#FA8C00;"></span></a>-->

        </header>
        <div class="row no-margin" >
<!--
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="title">
                    <img src="../../../images/temple.jpg" width="200" height="144" >
                    
                </div>
            </div>
-->
<!--            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">   -->
                <div class="title ">
                    <a href="#"><h3 style="padding-left:10px;">Shanta Durga</h3></a>
                    <p style="text-align:justify;padding-left:10px;">Lorem ipsum dolor sit amet, sea velit interesset ut, eos cu errem praesent. Brute dictas scriptorem eu est. Vim ut docendi assentior, in viris dicam nostrum vel. In pro ludus postulant mediocritatem.<a style="color: #FA8C00;" href="#"> Read more..</a></p>
                </div>
                
<!--            </div>-->
        </div>

    </div>
</div>