<section>
    <div class="row" style="background-color:#26a69a;padding:10px;">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 no-padding" style="">
            <img src="http://placehold.it/152x146">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <div class="row">
                <h3 class="no-padding no-margin">{{acti.title}}</h3>
            </div>
            <div class="row" style="padding-top:10px;">
                <uib-rating ng-model="acti.rating" max="max" readonly="isReadonly"></uib-rating>
            </div>
            <div class="row">
                <h5 class="no-padding">{{acti.actitype}}</h5>
            </div>
            <div class="row">
                <h5 class="no-padding">No of people required: {{acti.noppl}}</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
            <div class="row">
                <h3 class="no-padding no-margin">₹{{acti.price}}</h3>
            </div>
            <div class="row">
               <button class="btn btn-md" ui-sref="app.activity.detail" style="margin-top: 100px;background-color:#e0f2f1">
                   Book now</button>
            </div>
        </div>
    </div>
    <br>
</section>