$icon-font-path: "fonts/bootstrap/";
@import "../app/styles/stylesheets/_bootstrap.scss";
a {
    color: white;
}
ul {
    list-style-type: none;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.jumbotron {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/images/index1.jpg) no-repeat left top;
    background-size: cover;
    border-bottom: 1px solid #e5e5e5;
}
.block {
    background-color: rgba(255, 255, 255, 0.5);
    width: 520px;
    height: 450px;
    margin-left: 50px;
    h1 {
        color: #2495D9;
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
        font-size: 100px;
    }
    h2 {
        text-align: center;
        color: #2495D9;
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
        font-size: 60px;
        //        margin-left: 36px;
    }
}
.form-control::-webkit-input-placeholder {
    color: #2495D9;
}
.form-control:-moz-placeholder {
    color: #2495D9;
}
.form-control::-moz-placeholder {
    color: #2495D9;
}
.form-control:-ms-input-placeholder {
    color: #2495D9;
}
.trip-planner-form {
    background-color: greenyellow;
    color: crimson;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.random-picks-grid {
    padding: 0;
    /*width: 95%;
    margin: 0 auto;*/
    margin-bottom: 10px;
}
.navbar-gtg {
    background-color: black;
    color: white;
    height: 10%;
    margin: 0px;
    border-radius: 0;
}
.jumbo-wrapper {
    position: relative;
}

/* Gridster */


/*.gridster > * {
    padding: 0;
    width: 100% !important;
}
.gridster .gs-w {
    list-style: none;
}
.gridster .gs-w[data-sizex="1"] {
    width: 8.34091%;
}
.gridster .gs-w[data-col="1"] {
    left: 0%;
}
.gridster .gs-w[data-sizex="2"] {
    width: 17.43182%;
}
.gridster .gs-w[data-col="2"] {
    left: 9.09091%;
}
.gridster .gs-w[data-sizex="3"] {
    width: 26.52273%;
}
.gridster .gs-w[data-col="3"] {
    left: 18.18182%;
}
.gridster .gs-w[data-sizex="4"] {
    width: 35.61364%;
}
.gridster .gs-w[data-col="4"] {
    left: 27.27273%;
}
.gridster .gs-w[data-sizex="5"] {
    width: 44.70455%;
}
.gridster .gs-w[data-col="5"] {
    left: 36.36364%;
}
.gridster .gs-w[data-sizex="6"] {
    width: 53.79545%;
}
.gridster .gs-w[data-col="6"] {
    left: 45.45455%;
}
.gridster .gs-w[data-sizex="7"] {
    width: 62.88636%;
}
.gridster .gs-w[data-col="7"] {
    left: 54.54545%;
}
.gridster .gs-w[data-sizex="8"] {
    width: 71.97727%;
}
.gridster .gs-w[data-col="8"] {
    left: 63.63636%;
}
.gridster .gs-w[data-sizex="9"] {
    width: 81.06818%;
}
.gridster .gs-w[data-col="9"] {
    left: 72.72727%;
}
.gridster .gs-w[data-sizex="10"] {
    width: 90.15909%;
}
.gridster .gs-w[data-col="10"] {
    left: 81.81818%;
}
.gridster .gs-w[data-sizex="11"] {
    width: 99.25%;
}
.gridster .gs-w[data-col="11"] {
    left: 90.90909%;
}

@media screen and (max-width: 767px) {
    .gridster > * {
        padding: 0;
        width: 100% !important;
    }
    .gridster .gs-w {
        list-style: none;
    }
    .gridster .gs-w[data-sizex="1"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="1"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="2"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="2"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="3"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="3"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="4"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="4"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="5"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="5"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="6"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="6"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="7"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="7"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="8"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="8"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="9"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="9"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="10"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="10"] {
        left: 0%!important;
    }
    .gridster .gs-w[data-sizex="11"] {
        width: 100%!important;
    }
    .gridster .gs-w[data-col="11"] {
        left: 0%!important;
    }
}*/


/*ruchita*/


/* Footer */

.footer {
    background: #40526b;
    padding: 0em 1.618em;
    width: 100%;
    .footer-logo {
        margin-bottom: 2em;
        text-align: center;
        img {
            height: 3em;
            margin-top: 15px;
        }
    }
    .footer-links {
        margin-bottom: 1.5em;
    }
    .footer-links::after {
        clear: both;
        content: "";
        display: table;
    }
    li {
        line-height: 1.5em;
        list-style: none;
        text-align: center;
        a {
            color: rgba(255, 255, 255, 0.4);
            text-decoration: none;
        }
        a:focus,
        a:hover {
            color: white;
        }
        h3 {
            color: white;
            font-size: 1em;
            font-weight: 800;
            margin-bottom: 0.4em;
        }
    }
    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 0 auto 1.5em;
        width: 12em;
    }
    p {
        color: rgba(255, 255, 255, 0.4);
        font-size: 0.9em;
        line-height: 1.5em;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }
}
@media screen and (min-width: 40em) {
    .footer {
        .footer-links {
            margin-left: 25.58941%;
        }
        ul {
            margin-bottom: 3em;
            padding: 0;
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 23.23176%;
        }
        ul:last-child {
            margin-right: 0;
        }
        ul:nth-child(3n) {
            margin-right: 0;
        }
        ul:nth-child(3n+1) {
            clear: left;
        }
        ul::after {
            clear: both;
            content: "";
            display: table;
        }
        li {
            text-align: left;
        }
    }
}
