<div class="module" style="margin:0 auto; width:90%">

    <div style="padding:15px;font-size:20px;">
        <span>I'd like to visit Goa from</span>
        <div class="filter-wrapper" style="display:inline-block;">
        <p class="input-group" style="margin-bottom:-10px;">
            <input id="stayFromDate"
                   type="text" 
                   class="form-control" 
                   datetime-picker="dd MMM yyyy"
                   ng-model="fromDate" 
                   ng-change="onFromDateSelect(fromDate)"
                   enable-time="false" 
                   is-open="calendarOpenFrom" 
                   min-date="fromDateMin" />
            <span class="input-group-btn">
                    <button type="button" 
                            class="btn btn-default" 
                            ng-click="openCalendarFrom($event,'date1')"><i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
        </p>
        </div>
        <span>to</span>

        <div class="filter-wrapper" style="display:inline-block;">
            <p class="input-group" style="margin-bottom:-10px;">
                <input id="stayToDate"
                       type="text" 
                       class="form-control" 
                       datetime-picker="dd MMM yyyy"
                       datepicker-options="dateOptions"
                       ng-model="toDate" 
                       is-open="calendarOpenTo" 
                       enable-time="false" 
                       min-date="toDateMin"
                       max-date="toDateMax"/>
                <span class="input-group-btn">
                    <button type="button" 
                            class="btn btn-default" 
                            ng-click="openCalendarTo($event, 'date2')"><i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <span>as</span>
        <div checkboxes="true" 
             extra-settings="examplesettings1" 
             ng-dropdown-multiselect="" 
             options="adultsdata"
             translation-texts="adultsacustomTexts"
             selected-model="adults" 
             style="display:inline-block;">
        </div>
        <span>. My Budget is</span>
        <div checkboxes="true" 
             extra-settings="examplesettings3" 
             ng-dropdown-multiselect="" 
             options="budgetdata" 
             selected-model="budget" 
             style="display:inline-block;">
        </div>
        <span>and I'm interested in</span>
        <div checkboxes="true" 
             extra-settings="examplesettings4" 
             ng-dropdown-multiselect="" 
             options="interestdata" 
             selected-model="interests" 
             style="display:inline-block;">
        </div>
        <span>and i want it to be a</span>
        <div checkboxes="true" 
             extra-settings="examplesettings5"
             translation-texts="tripcustomTexts"
             ng-dropdown-multiselect="" 
             options="triptypedata" 
             selected-model="type_trip" 
             style="display:inline-block;">
        </div>
        <span>. I am going with my</span>
        <div checkboxes="true" 
             extra-settings="examplesettings6"
             translation-texts="companioncustomTexts"
             ng-dropdown-multiselect="" 
             options="companiondata" 
             selected-model="companion" 
             style="display:inline-block;">
        </div>
        <span> and I want to definately see</span>
        <div checkboxes="true" 
             extra-settings="examplesettings7"
             translation-texts="placescustomTexts"
             ng-dropdown-multiselect="" 
             options="placesdata" 
             selected-model="places" 
             style="display:inline-block;">
        </div>
        <div style="padding:5px;">
            <button class="btn btn-primary btn-refine-search" style="" type="button">Create a trip</button>
        </div>
    </div>

    <div tripcard>
    </div>

</div>



<!--<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
                <h4>Dates</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="input-group">
                    <input class="form-control" close-text="Close" date-disabled="disabled(date, mode)" datepicker-options="dateOptions" datepicker-popup="dd/MM/yyyy" is-open="status.opened" max-date="maxDate" min-date="dt" ng-model="from" ng-required="true" ng-click="open($event)" placeholder="From" type="text" show-button-bar="false" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="input-group">
                    <input class="form-control" close-text="Close" date-disabled="disabled(date, mode)" datepicker-options="dateOptions1" datepicker-popup="dd/MM/yyyy" is-open="status1.opened" max-date="maxDate" min-date="minDate" ng-model="to" ng-required="true" ng-click="open1($event1)" placeholder="To" type="text" show-button-bar="false" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open1($event1)" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div checkboxes="true" extra-settings="examplesettings1" ng-dropdown-multiselect="" options="adultsdata" selected-model="adults" style="display:inline-block;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                <h4 style="display:inline-block;">Type: </h4>
                <div checkboxes="true" extra-settings="examplesettings1" ng-dropdown-multiselect="" options="adultsdata" selected-model="adults" style="display:inline-block;"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h4 style="display:inline-block;">Places: </h4>
                <div checkboxes="true" extra-settings="examplesettings2" ng-dropdown-multiselect="" options="placesdata" selected-model="places" style="display:inline-block;"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h4 style="display:inline-block;">Companion: </h4>
                <div checkboxes="true" extra-settings="examplesettings4" ng-dropdown-multiselect="" options="companiondata" selected-model="companion" style="display:inline-block;"></div>
            </div>
        </div>
        <div class="row">
            <h4>Price Range</h4>
            <div>
                <rzslider rz-slider-floor="priceSlider.floor" rz-slider-ceil="priceSlider.ceil" rz-slider-model="priceSlider.min" rz-slider-high="priceSlider.max" rz-slider-translate="translate" rz-slider-on-change="onSliderChange()" rz-slider-show-ticks="true"></rzslider>
            </div>
        </div>
        <aside class="row sorts well" style="width:95%;">
            <h4 class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">Sort :</h4>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " href="" ng-click="reverse=!reverse;order('id', reverse)">Id</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " href="" ng-click="reverse=!reverse;order('name', reverse)">Name</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " href="" ng-click="reverse=!reverse;order('location', reverse)">Location</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " href="" ng-click="reverse=!reverse;order('stars', reverse)">Stars</a>
            <a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " href="" ng-click="reverse=!reverse;order('price', reverse)">Price</a>
        </aside>
        <br>
                <div ng-repeat="i in [1, 2, 3]">
        <div>
            <div tripcard ng-mouseenter="cardMouseEnter(i)"></div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <leaflet class="map" center="goa" defaults="defaults" markers="markers" />
    </div>
</div>-->